
		 <!-- CSS STYLES -->

		 h1 {padding-bottom: 15px; padding-left: 15px;}
		 .contentWrap {width: 60%; margin: 0px auto; padding: 10px; min-height: 200px; }
		 nav {width: 90%; margin: 0px auto; border-bottom: 1px solid #ccc; margin-bottom: 25px;}
		 nav ul li {display: inline;}
		 .navBar {margin: 0px auto; width: 230px;}
		 .navBar ul li {padding-right: 20px;}
		 .userBlock {text-align: center; transition: .5s; margin-bottom: 15px; padding-bottom: 15px; opacity: .7; transition: 1s; filter: blur(2px);
		 }
		 .userBlock h4 {color: #fff;}
		 .userBlock:hover {; opacity: 1; filter: blur(0px); border: 1px solid #ccc; border-radius: 5px; margin-top: 15px;}
		 .userLouie,.userTrin,.userDefault {background: #fff;}
		 .userLouie:hover {background: url("https://farm1.staticflickr.com/449/19451927816_0ad8640545_k_d.jpg"); background-size: 100%; border: none; background-position: left center;}
		 .userTrin:hover {background: url("http://i.imgur.com/BHnQ73Y.jpg"); background-size: 100%; border: none; background-position: left center;}
		 .userBlock img {padding: 10px 0px; border-bottom: 2px #ccc solid; transition: 1s; filter: grayscale(100%);}
		 .userBlock img:hover {border-bottom: 2px #FF7736 solid; filter: grayscale(0%);}
         

            @media (max-width: 1200px) {
              .userBlock {padding-top: 10px; filter: blur(0px); opacity: 1;}    
              .userBlock:hover {margin-top: 0px;}
              .userLouie {
                background: url("https://farm1.staticflickr.com/449/19451927816_0ad8640545_k_d.jpg"); background-size: 100%; background-repeat: no-repeat; border-radius: 5px;
              }
              .userLouie:hover {
                background: url("https://farm1.staticflickr.com/449/19451927816_0ad8640545_k_d.jpg"); background-size: 100%; background-repeat: no-repeat; border-radius: 5px;
              }
               .userTrin {
                background: url("http://i.imgur.com/BHnQ73Y.jpg"); background-size: 100%; background-repeat: no-repeat; border-radius: 5px;
              }
              .userTrin:hover {
                background: url("http://i.imgur.com/BHnQ73Y.jpg"); background-size: 100%; background-repeat: no-repeat; border-radius: 5px;
              }
              
            }
            
